@charset "UTF-8";
:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-section-color: #ffffff;
  --team-background-color: #f5f4fa;
  --section-background-color: #2f303a;
  --focus-color: #188ce8;
  --footer-main-color: rgba(255, 255, 255, 0.6);
  --time-distribution: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-list__link, .client-list-item, .client-list-link, .subscribe-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  } */
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.modal-btn {
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-section-color);
  background: var(--accent-color);
  transition: background-color 250ms var(--time-distribution), color 250ms var(--time-distribution);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--focus-color);
}

.main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-section-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 767px) {
  .title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.team__social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--time-distribution);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: #AFB1B8;
  transition: fill 250ms var(--time-distribution);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: white;
}

@media screen and (min-width: 1200px) {
  .social-list {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--primary-section-color);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  transition: fill 250ms var(--time-distribution);
}

.modal-close-btn:hover {
  fill: var(--accent-color);
}

.modal-window-title {
  display: inline-flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-field-name {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.contact-form-message {
  display: block;
  margin-top: 4px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms var(--time-distribution);
}

.contact-form-message:focus {
  border-color: var(--accent-color);
}

.contact-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms var(--time-distribution);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-input-icon {
  position: absolute;
  color: #212121;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--time-distribution);
}

.contact-form-input:focus + .contact-form-input-icon {
  fill: var(--accent-color);
}

.contact-form-checkbox-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.contact-form-checkbox {
  position: absolute;
  top: 0;
  left: 0;
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.contact-form-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  content: "";
  border: 1px solid var(--secondary-text-color);
  margin-right: 8px;
  cursor: pointer;
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  outline: 1px solid rgba(0, 0, 255, 0.5);
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  border-color: transparent;
  border-radius: 3px;
  background-size: cover;
  background-image: url(../img/icon-check.svg);
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contact-form-checkbox-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
  }
}

.agreement {
  color: var(--accent-color);
}

.contact-form-submit-btn {
  display: block;
  margin: 0px auto;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-top: 30px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-section-color);
  background: var(--accent-color);
  transition: background-color 250ms var(--time-distribution), color 250ms var(--time-distribution);
}

.contact-form-submit-btn:hover, .contact-form-submit-btn:focus {
  background-color: var(--focus-color);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: var(--primary-section-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visability 250ms linear;
  z-index: 1;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  transition: fill 250ms var(--time-distribution);
}

.mobile-menu__close-btn:hover {
  fill: var(--accent-color);
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__navigation-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__navigation-list-link {
  display: flex;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  margin-left: 25px;
  transition: color 250ms var(--time-distribution);
}

.mobile-menu__navigation-list-link:hover, .mobile-menu__navigation-list-link:focus {
  color: var(--accent-color);
}

.mobile-menu__navigation-list-link-current {
  color: var(--accent-color);
}

.mobile-menu__contact-list-item {
  display: flex;
  margin-left: 25px;
}

.mobile-menu__contact-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contact-link-tel {
  margin-top: 302px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__contact-link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 64px;
}

.mobile-menu__social-list {
  display: flex;
}

.mobile-menu__social-list-item {
  padding-right: 10px;
  padding-left: 10px;
}

.mobile-menu__social-list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__social-list-item:first-child {
  margin-left: 15px;
}

.mobile-menu__social-list-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  transition: fill 250ms var(--time-distribution);
}

.mobile-menu-btn:hover {
  fill: var(--accent-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  position: relative;
  background-color: var(--primary-section-color);
  border-bottom: 1px solid #ECECEC;
}

.logo__header {
  color: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .page-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
  .nav-list .link.current {
    color: var(--accent-color);
  }
  .contact-list {
    display: block;
    margin-left: 70px;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .logo {
    margin-right: 70px;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 45px;
  }
  .nav-list__link {
    display: inline-flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    transition: color 250ms var(--time-distribution);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .current {
    position: relative;
  }
  .current::after {
    position: absolute;
    content: "";
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .header-contact {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms var(--time-distribution);
  }
  .header-contact:hover, .header-contact:focus {
    color: var(--accent-color);
  }
  .header-contact__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms var(--time-distribution);
  }
  .header-contact:hover .header-contact__icon,
  .header-contact:focus .header-contact__icon {
    fill: var(--accent-color);
  }
  .contact-list__item:not(:last-child) {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
  }
  .contact-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .logo {
    margin-right: 93px;
  }
}

/*.page-header {
    background-color: var(--primary-section-color);
    border-bottom: 1px solid #ECECEC;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;

    & .link.current {
      color: var(--accent-color);
    }
  }
  .contact-list {
    display: flex;
  }
  
  .logo__header {
    color: var(--primary-text-color);
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact-list__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .nav-list__link {
    display: inline-flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    transition: color 250ms var(--time-distribution);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .current {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: -1px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
  
  .header-contact {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms var(--time-distribution);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .header-contact__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms var(--time-distribution);

    .header-contact:hover &,
    .header-contact:focus & {
      fill: var(--accent-color);
    } 
  }
  
  .contact-list__item {
    display: flex;
    align-items: center;
  }
  .section-team-list {
    color: var(--primary-section-color);
  }
  */
.hero {
  background-size: cover;
  text-align: center;
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/mobile/bg-img-mob@1x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/tablet/bg-img-tab@1x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/desktop/bg-img-desk@1x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/mobile/bg-img-mob@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/tablet/bg-img-tab@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/desktop/bg-img-desk@2x.jpg");
  }
}

.section-about__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.section-about-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.text-content-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--team-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .section-content-icon {
    width: 450px;
  }
  .section-about {
    display: none;
  }
  .section-about-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .section-about {
    display: none;
  }
  .text-content-icon {
    width: 354px;
  }
  .section-about-text-content {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .section-about {
    display: flex;
  }
  .text-content-icon {
    width: 270px;
  }
  .section-about-text-content {
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
    margin-top: -30px;
  }
  .section-about-list {
    flex-basis: calc(100%-120px)/4;
    margin-left: 30px;
    margin-top: 30px;
  }
  .section-about-text-element {
    color: var(--primary-section-color);
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 768px) {
  .section-about-text-content {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .section-about-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .section-about-list {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-about-list {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

/* === Секция чем занимаемся === */
.section-about {
  color: var(--primary-section-color);
  padding-top: 47px;
}

.section-about__main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.about-image {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
  margin-top: -30px;
}

.section-about__photo-list {
  flex-basis: calc(100% - 90px)/3;
  margin-left: 30px;
  margin-top: 30px;
}

.section-about__photo-list {
  position: relative;
}

.section-about__overlay {
  position: absolute;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  padding: 27px 82px;
  bottom: 0;
  right: 0;
  width: 370px;
  height: 70px;
}

/*.text-content-icon {
    @extend %align;
    width: 270px;
    height: 120px;
    background-color: var(--team-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .section-about-text-element {
    color: var(--primary-section-color);
    padding-bottom: 47px;
  }
  .section-about-text-content {
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
    margin-top: -30px;
  }
  .section-about-list {
    flex-basis: calc(100%-120px)/4;
    margin-left: 30px;
    margin-top: 30px;
  }
  
  
  
  
  .section-about__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
  }
  
  .section-about-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
  
  */
.section-team {
  background-color: var(--team-background-color);
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.section-team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .team-member-content-wrapper {
    padding-top: 30px;
    padding-left: 122px;
    padding-right: 122px;
    padding-bottom: 24px;
  }
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-top: -30px;
  }
  .section-team-list {
    margin-left: 15px;
    margin-top: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-section-color);
  }
  .section-team-img {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .team-member-content-wrapper {
    padding-top: 30px;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 24px;
  }
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -15px;
    margin-top: -30px;
  }
  .section-team-list {
    flex-basis: calc(100%-60px)/2;
    margin-left: 15px;
    margin-top: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-section-color);
  }
  .section-team-img {
    width: 354px;
    height: 374x;
  }
}

@media screen and (min-width: 1200px) {
  .team-member-content-wrapper {
    padding: 30px 32px;
  }
  .section-team__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -30px;
    margin-top: -30px;
  }
  .section-team-img {
    width: 270px;
    height: 260x;
  }
  .section-team-list {
    flex-basis: calc(100%-120px)/4;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-section-color);
  }
}

/*@media screen and (max-width: 767px) {
  
}
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -30px;
    margin-top: -30px;
  }
  .section-team-list {
    flex-basis: calc(100%-120px)/4;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-section-color);
  }
  //.section-team-list {
  //  color: var(--primary-section-color);
  // }
  .section-team {
    background-color: var(--team-background-color);
  }
  .section-team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
  }
  .profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
  }
  .team-member-content-wrapper {
    padding: 30px 32px;
  }

  */
.section-client-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.client-list-item {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 250ms var(--time-distribution);
}

@media screen and (min-width: 768px) {
  .client-list-item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-list-item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.client-list-item:hover, .client-list-item:focus {
  border: 1px solid var(--accent-color);
}

.client-list-link {
  width: 170px;
  height: 92px;
}

@media screen and (min-width: 1200px) {
  .section-client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .clients-list {
    display: flex;
    justify-content: space-between;
  }
}

.client-list-icon {
  fill: #AFB1B8;
  transition: fill 250ms var(--time-distribution);
}

.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon {
  fill: var(--accent-color);
}

/*
  .section-client-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.client-list-link {
  @extend %align;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 250ms var(--time-distribution);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
    cursor: pointer;
  }

@media screen and (max-width: 767px) {
    width: 210px;
}

@media screen and (min-width: 768px) {
    width: 226px;
}

@media screen and (min-width: 1200px) {
  width: 170px;
 }
}
@media screen and (min-width: 1200px) {
  .section-client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .clients-list {
    display: flex;
    justify-content: space-between;
  }
 
}
  
  .client-list-item {
    @extend %align;
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }
  .client-list-link {
    @extend %align;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 250ms var(--time-distribution);

    &:hover,
    &:focus {
      border-color: var(--accent-color);
      color: var(--accent-color);
      cursor: pointer;
    }
  }
  
  
  .client-list-icon {
    fill: #AFB1B8;
    transition: fill 250ms var(--time-distribution);

    .client-list-link:hover &,
    .client-list-link:focus & {
      fill: var(--accent-color);
      } 
  }
  */
.portfolio-gallery-btn {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-left: -15px;
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-top: -15px;
}

.portfolio-list {
  flex-basis: calc(100%-15px);
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
  transition: box-shadow 250ms var(--time-distribution);
}

.portfolio-list:hover, .portfolio-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .portfolio-btn-list:nth-child(-n+3) {
    margin-bottom: 15px;
  }
  .portfolio-list-img {
    width: 450px;
    height: 294px;
  }
}

.section-portfolio {
  background-color: var(--primary-section-color);
}

@media screen and (min-width: 768px) {
  .portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-top: -15px;
  }
  .portfolio-gallery:last-child {
    display: flex;
    justify-content: start;
  }
  .portfolio-list {
    flex-basis: calc(100%-30px)/2;
    margin-left: 15px;
    margin-top: 15px;
  }
  .portfolio-gallery-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .portfolio-list-img {
    width: 354px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list-img {
    width: 370px;
    height: 294px;
  }
  .portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .portfolio-list {
    flex-basis: calc(100%-90px)/3;
    margin-left: 30px;
    margin-top: 30px;
  }
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--team-background-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: color 250ms var(--time-distribution), background-color 250ms var(--time-distribution), box-shadow 250ms var(--time-distribution);
}

.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--primary-section-color);
  background-color: var(--focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn-list:not(:last-child) {
  margin-right: 8px;
}

.portfolio-img-title {
  text-align: left;
  font-weight: 700;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.img-description {
  text-align: left;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-img-content-wrapper {
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  padding: 20px 24px;
  border-top: none;
}

.portfolio-list-item-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: #FFFFFF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.portfolio-list-item-link:hover .overlay,
.portfolio-list-item-link:focus .overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .overlay {
    padding-top: 49px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 77px;
  }
}

@media screen and (max-width: 767px) {
  .overlay {
    padding: 77px 24px;
  }
}

/*
 .portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .portfolio-list {
    flex-basis: calc(100%-90px)/3;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    transition: box-shadow 250ms var(--time-distribution);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  .section-portfolio {
    background-color: var(--primary-section-color);
  }
  
  .portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: var(--team-background-color);
    border-radius: 4px;
    border: none;
    padding: 6px 22px;  
    transition: color 250ms var(--time-distribution), background-color 250ms var(--time-distribution), box-shadow 250ms var(--time-distribution);

    &:hover,
    &:focus {
      color: var(--primary-section-color);
      background-color: var(--focus-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  .portfolio-gallery-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .portfolio-btn-list:not(:last-child) {
    margin-right: 8px;
  }
  .portfolio-img-title {
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
  }
  .img-description {
    text-align: left;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
  .portfolio-img-content-wrapper {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    padding: 20px 24px;
    border-top: none;
  }
  .portfolio-list-item-wrapper {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    color: #FFFFFF;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms linear;

    .portfolio-list-item-link:hover &,
    .portfolio-list-item-link:focus & {
      transform: translateY(0%);
    }
  }
 */
.section-footer {
  background-color: var(--section-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .section-footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer-social-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .section-footer-logo {
    display: flex;
    margin-left: 115px;
    margin-bottom: 20px;
    justify-content: start;
  }
  .footer-social-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .section-footer-logo {
    display: block;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .footer-social-title {
    display: flex;
    justify-content: start;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
}

.logo-footer {
  color: #ffffff;
}

.footer-contact-mail {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-main-color);
}

.footer-contact-mail:hover, .footer-contact-mail:focus {
  color: var(--accent-color);
}

.footer-contact-phone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-main-color);
}

.footer-contact-phone:hover, .footer-contact-phone:focus {
  color: var(--accent-color);
}

.footer-social-list-icon {
  fill: white;
}

.footer-social-list-link {
  background: rgba(255, 255, 255, 0.1);
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-subscribe-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-section-color);
  margin-bottom: 20px;
}

.subscribe-form-btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #FFFFFF;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.subscribe-text {
  margin-right: 10px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:not(:placeholder-shown) {
  color: #ffffff;
}

.footer-subscribe-form-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-section-color);
  margin-bottom: 20px;
}

.subscribe-form-btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-top: 20px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.subscribe-text {
  margin-right: 10px;
}

.subscribe-input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:not(:placeholder-shown) {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .studio-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-section-color);
  }
  .footer-contact-list {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .footer-contact-list:last-child {
    margin-bottom: 0px;
  }
  .footer-subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subscribe-form-field {
    margin-right: 15px;
    margin-left: 15px;
  }
  .social-list__item {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .studio-address {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-left: 76px;
    margin-right: 165px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-section-color);
  }
  .footer-contact-list {
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .footer-contact-list:last-child {
    margin-bottom: 0px;
  }
  .footer-main {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 20px;
  }
  .right-part {
    margin-left: 151px;
    margin-right: 137px;
  }
  .footer-subscribe-form {
    width: 450px;
  }
  .footer-contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-footer-logo {
    display: block;
    margin-bottom: 20px;
  }
  .studio-address {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-section-color);
  }
  .footer-contact-list {
    display: block;
    margin-bottom: 9px;
    margin-top: 9px;
  }
  .footer-contact-list:last-child {
    margin-bottom: 0px;
  }
  .footer-main {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-bottom: 20px;
  }
  .part-adress {
    margin-right: 70px;
  }
  .right-part {
    margin-right: 0px;
    margin-left: 93px;
  }
  .footer-subscribe-form-title {
    text-align: start;
  }
  .subscribe-form-btn {
    margin-top: 0px;
    width: 200px;
    height: 50px;
    padding: 10px 28px 10px 29px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    cursor: pointer;
  }
  .subscribe-text {
    margin-right: 10px;
  }
  .subscribe-form-field {
    display: inline-block;
    margin-right: 12px;
  }
  .subscribe-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe-input:not(:placeholder-shown) {
    color: #ffffff;
  }
  .footer-subscribe-form {
    display: flex;
    align-items: flex-start;
  }
}

/*
.section-footer {
    background-color: var(--section-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-footer-logo {
   display: block;
   margin-bottom: 20px;
  }
  .logo-footer {
    color: #ffffff;
  }
  .studio-address {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-section-color);
  }
  .footer-contact-list {
    margin-bottom: 9px;
    margin-top: 9px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
  
  .footer-contact-mail {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-main-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
  .footer-contact-phone {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-main-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
  .footer-main {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
  }
  .footer-social-title {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  }
  .part-adress {
    margin-right: 70px;
  }
  
  .footer-social-list-icon {
    fill: white;
  }
  .footer-social-list-link {
    background: rgba(255, 255, 255, 0.1);
  }
  .social-list__item:not(:last-child) {
    margin-right: 10px;
  }
  .footer-subscribe-form-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-section-color);
    margin-bottom: 20px;
  }
  .subscribe-form-btn {
    @extend %align;
  
    width: 200px;
    height: 50px;
    padding: 10px 28px 10px 29px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    cursor: pointer;
  }
  .subscribe-text {
    margin-right: 10px;
  }
  .subscribe-form-field {
    margin-right: 12px;
  }
  .subscribe-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);

    &:not(:placeholder-shown) {
      color: #ffffff;
    }
  }
  .footer-subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-part {
    margin-left: 93px
  } 
  */
/*# sourceMappingURL=main.css.map */