.hero {
    background-size: cover;
    text-align: center;
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 118px;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../img/hero/mobile/bg-img-mob@1x.jpg");
    }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../img/hero/tablet/bg-img-tab@1x.jpg");
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../img/hero/desktop/bg-img-desk@1x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
  //0px-767px
  @media screen and (max-width: 767px)  {   
      .hero {
            background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
            url("../img/hero/mobile/bg-img-mob@2x.jpg");
          }
        }  
  //768px+
  @media screen and (min-width: 768px) {
    .hero {
      background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
      url("../img/hero/tablet/bg-img-tab@2x.jpg");
    }
  }
  //1200px+
  @media screen and (min-width: 1200px) {
    .hero {
      background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
      url("../img/hero/desktop/bg-img-desk@2x.jpg");
  }
 }
}