:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-section-color: #ffffff;
    --team-background-color: #f5f4fa;
    --section-background-color: #2f303a;
    --focus-color: #188ce8;
    --footer-main-color: rgba(255, 255, 255, 0.6);
    --time-distribution: cubic-bezier(0.4, 0, 0.2, 1);
  }